*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
width: 100vw;
height: 100vh;
display: grid;
grid-template-columns: 0.2fr repeat(2, 1fr);
grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
grid-template-areas:
"nav header header"
"nav main main"
"nav main main"
"nav footer footer";
grid-column-gap: 20px;
grid-row-gap: 20px;
}
header{
 background-color: gold;
 grid-area: header;
}
nav{
    background-color: gold;
    grid-area: nav;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.5fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "sectionuno sectionuno aside"
    "sectiondos sectiondos aside";
    grid-column-gap: 20px;
    grid-row-gap: 20px
}
.sectionuno{
    background-color: gold;
    grid-area: sectionuno;
}
.sectiondos{
    background-color: gold;
    grid-area: sectiondos;
}
aside{
    background-color: gold;
    grid-area: aside;
}
footer{
    background-color: gold;
    grid-area: footer;
}

