@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: serif; }

footer {
  background-color: #a8dadc;
  padding: 10px;
  overflow: hidden;
  font-weight: bold; }

form {
  width: 200px;
  margin: auto; }
  form label {
    margin: 20x; }
  form .input {
    padding: 5px;
    font-size: 15px;
    margin-bottom: 40px; }

#principal {
  font-size: 3rem; }

header {
  background-color: #a8dadc; }
  header h1 {
    font-weight: bold;
    font-size: 40px; }

.logo1 {
  width: 70px;
  height: 70px;
  border-radius: 50px; }

main {
  background-color: #f1faee; }
  main #imgniños {
    height: 35rem; }
  main #imgym {
    height: 35rem; }
  main #imgslider {
    height: 35rem; }
  main .parrafo {
    font-size: 3rem;
    font-weight: bold; }
  main .parrafo2 {
    font-size: 3rem;
    font-weight: bold; }
  main #img1 {
    border-radius: 15px;
    width: 40vw;
    height: 60vh; }
  main #img2 {
    border-radius: 15px;
    width: 40vw;
    height: 60vh; }
  main #iniciass {
    border: 10px; }
  main #imgbalon {
    width: 70%;
    height: 70%;
    border-color: #a8dadc; }

#imgcorriendo {
  height: 310px; }

#imgsl {
  height: 265px; }

.p1 {
  background-color: #a8dadc; }

.imgM1 {
  width: 400px;
  height: 400px; }

.bM {
  background-color: #a8dadc; }

#imgH1 {
  height: 316px;
  width: 330px; }

#imgn2 {
  height: 313px;
  width: 450px; }

#imgsaul {
  height: 300px;
  width: 260px; }

.danger {
  background-color: #a8dadc; }

.primary {
  background-color: #a8dadc; }
