* {
  margin: 0;
  padding: 0; }

body {
  font-family: serif;
  background-color: #a8dadc; }

footer {
  background-color: #a8dadc;
  padding: 10px;
  overflow: hidden;
  font-weight: bold; }

form {
  width: 200px;
  margin: auto; }
  form label {
    margin: 20x; }
  form .input {
    padding: 5px;
    font-size: 15px;
    margin-bottom: 40px; }

#principal {
  font-size: 3rem; }

.colorf {
  background-color: #457b9d; }

header {
  background-color: #457b9d; }
  header h1 {
    font-weight: bold;
    font-size: 40px; }

.logo1 {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 5px; }

main {
  background-color: #f1faee; }

.parrafo {
  font-size: 1.7rem;
  font-weight: bold; }

#img1 {
  border-radius: 15px;
  width: 40vw;
  height: 60vh; }

#img2 {
  border-radius: 15px;
  width: 40vw;
  height: 60vh; }

#iniciass {
  border: 10px; }

#imgbalon {
  width: 70%;
  height: 70%;
  border-color: #a8dadc; }

.p1 {
  background-color: #a8dadc; }

.imgM1 {
  width: 400px;
  height: 400px; }

.imgM2 {
  width: 330px;
  height: 330px; }

.bM {
  background-color: #457b9d;
  color: #000; }

.imgH1 {
  width: 380px;
  height: 380px; }

#imgsaul {
  height: 300px;
  width: 260px; }

.danger {
  background-color: #f1faee; }

.primary {
  background-color: #a8dadc; }
