* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    height: 160vh;
    font-family: serif;
   
}
.reseteoListas, a:link,
a:visited, a:active {
    text-decoration: none;
    list-style: none;
    color: black;
     }
header {
    height: 15vh;
    background-color: #a8dadc;
 }   

    h1 {
        font-weight: bold;
        font-size: 40px;
    }
    ul li {
        padding: 3px;
        font-size: 20px;
    }
    #div{
        margin: 20px;
        justify-self: end;
        align-self: center;
        font-size: 15px;
     }
    .logo1{
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 25px;
    }
main {
    height: 140vh;
    background-color:#f1faee;
}
.parrafo {
    font-size: 3rem;
    font-weight: bold;
    padding: 100px 10px 70px 10px;
}
.parrafo2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 100px 10px 70px 10px;
}
#img1 {
    border-radius: 15px;
    width: 40vw;
    height: 60vh;
 }
 #img2 {
    border-radius: 15px;
    width: 40vw;
    height: 60vh;
 }
footer {
    height: 5vh;
    background-color: #a8dadc;
    text-align: center;   
    padding: 10px;
    overflow: hidden;
    font-weight: bold;
}

 .datos {
    display: inline-block;

 }
 .principal {
    display: inline-block;
 }

 .principal {
    display: inline-block;
    font-size: 3rem;
    text-align: center;
 }
 form {
    width: 200px;
    margin: auto;
}
.input {
    padding: 5px;
    font-size: 15px;
    margin-bottom: 40px;
}
label { 
    margin: 20x;
}
