$background-color: #a8dadc;
$back-color: #f1faee;
$height: 35rem;
$heightimg: 60vh;
$negrita: bold;
$width: 100px;
$height1: 300px;

$theme-colors: (
 "bg-primary": $background-color,
 "bk-color": $back-color,
);